NODE_ENV=development
PORT=4030
SERVICE_NAME=backend-facturacion-electronica
FISCAL_PROVIDER=MOCK_LOCAL
API_BASE_URL=http://localhost:4022
API_INTERNAL_TOKEN=
DIAN_WSDL_URL=
DIAN_ENDPOINT_URL=
DIAN_ALLOW_EXTERNAL_CALLS=false
DIAN_THIRD_PARTY_LOOKUP_ENABLED=true
DIAN_THIRD_PARTY_LOOKUP_MODE=mock
DIAN_GET_ACQUIRER_HTTP_ENABLED=false
DIAN_CERT_PATH=
DIAN_CERT_PASSWORD=
DIAN_ENVIRONMENT=HABILITACION
DIAN_TIMEOUT_MS=15000
DIAN_GET_ACQUIRER_ACTION=http://wcf.dian.colombia/IWcfDianCustomerServices/GetAcquirer
DIAN_WS_SECURITY_TIMESTAMP_TTL_MS=300000
LOG_LEVEL=debug
